.mail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.label {
    width: 126px;
    height: 20px;
    margin: 0 320px 9px 0;
    opacity: 0.54;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}



.email-input {
    width: 25rem;
    height: 20px;
    margin: 9px 0 0;
    padding: 19px 19px 24px;
    border-radius: 10px;
    border: solid 1px #d4d3d6;
    background-color: #fff;
}

.email-input::placeholder {
    width: 100%;
}

.ConfirmPassword {
    width: 129px;
    height: 15px;
    margin: 0 320px 9px 0;
    opacity: 0.54;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

.connection {
    width: 8rem;
}

.image_input {
    width: 100px;
    height: 20px;
    margin: 9px 0 0;
    padding: 19px 318px 19px 24px;
    border-radius: 10px;
    border: solid 1px #d4d3d6;
    border: dashed;
    background-color: #fff;
}

.file-upload-container {
    display: flex;
    align-items: center;
}

.file-upload-label {
    width: 25rem;
    height: 20px;
    border: dashed 2px #d4d3d6;
    margin: 9px 0 0;
    padding: 19px 19px 24px;
    border-radius: 10px;
    /* border: solid 1px #d4d3d6; */
    background-color: #fff;
}

.upload-icon {
    margin-right: 8px;
}

.file-input {
    display: none;
}

.choose-file-text {
    color:#0066eb;
    text-decoration: underline;
}