.eye_icon {
    margin-left: -2rem;
}

.ConfirmPassword {
    width: 129px;
    height: 15px;
    margin: 0 320px 9px 0;
    opacity: 0.54;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

.label {
    width: 126px;
    height: 20px;
    margin: 0 320px 9px 0;
    opacity: 0.54;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}