.aboutus-heading {
    font-size: 24px;
    font-weight: bolder;
    color: #222;
}

.aboutus-content {
    width: 503px;
    height: 108px;
    font-family: Helvetica;
    font-size: 19px;
    line-height: 1.5;
    text-align: center;
    color: #222;
    display: contents;
    margin-left: 35rem;
    margin-top: 12rem;
}
.outer_layout {
    padding: 2rem 5rem;
    background-color: #f5f6f9;
}

.Rectangle-Copy{
    display: flex;
    flex-direction: column;
}
.main{
    height: 100%;
}
.iframe{
    height: 100%;
    width: 100%;
}

