.aboutus-heading {
    font-family: Futura;
    font-size: 30px;
    font-weight: bold;
    color: #222;
    margin-top: 1rem;
}

.aboutus-content {
    width: 503px;
    height: 108px;
    font-family: Helvetica;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #222;
    margin-left: 35rem;
    margin-top: 12rem;
}

.aboutus-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20rem;
}

.outer_layout {
    padding: 2rem 5rem;
    background-color: #f5f6f9;
}